<nav class="leftMenu">
    <a href="/" {% if page.url=="/" %}style="color: red;" {% endif %}>
        Home
    </a>
    <a href="/about.html" {% if page.url=="/about.html" %}style="color: red;" {% endif %}>
        About
    </a>
    <p>automated section follows should work now</p>

    <ul class="leftMenuHeading">
        {% for item in site.data.navigation %}
        <li class="leftMenuList"><a href="{{site.baseurl}}{{ item.link }}" {% if page.url==item.link %}class="current"
                {% endif %}>{{ item.name
                }}</a></li>
        {% endfor %}
    </ul>
    {% for item in site.data.navigation %}
    <a href="{{ item.link }}" {% if page.url==item.link %}style="color: red;" {% endif %}>
        {{ item.name }}
    </a>
    {% endfor %}
</nav>
